# IPHONE projects 

# the build
build

# temp nibs and swap files
*~.nib
*.swp

# OS X folder attributes
.DS_Store

# user-specific XCode stuff
*.mode1v3
*.mode2v3
**/*.pbxuser
xcuserdata/
.idea/
Configurator.xcodeproj/project.pbxproj
Configurator/Brand.m
Configurator/Resources/Brands/vw.csv
Configurator/Resources/Brands/VW/Tiguan/tiguan-catalogue.infos
Configurator/Resources/xc60.txt

# Subversion
.svn
